@keyframes moveBounce {
  0% {
    top: 40%;
    left: 0%;
  }
  25% {
    top: 85%;
    left: 25%;
  }
  50% {
    top: 40%;
    left: 50%;
  }
  75% {
    top: 0%;
    left: 25%;
  }
  100% {
    top: 40%;
    left: 0%;
  }
}

@keyframes colorShift {
  0% {
    color: #eba7ff;
  }
  16% {
    color: #ff21ec;
  }
  33% {
    color: #00b7ff;
  }
  50% {
    color: #00ff00;
  }
  66% {
    color: #ffff00;
  }
  83% {
    color: #ff7f00;
  }
  100% {
    color: #ff0000;
  }
}

.animate-moveBounce {
  animation: moveBounce 20s linear infinite;
}

.animate-colorShift {
  animation: colorShift 10s infinite alternate;
}
