@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  @apply box-border;
}

html,
body {
  @apply m-0 p-0 w-full text-base;
  scrollbar-width: none; /* Firefox hide scrollbar */
}

body {
  background: var(--background);
  color: var(--foreground);
}
html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape on iOS */
  -ms-text-size-adjust: 100%; /* Prevent font scaling in IE */
}

/* Optional: Hide scrollbar for Chrome, Safari */
body::-webkit-scrollbar {
  display: none;
}
