@use "@/styles/base" as *;
.logo-container {
  margin-left: 40px;
  height: 100%;
  width: 30%;
  @include flex(row, space-between, center);
  h1 {
    width: 90%;
    margin-left: 20px;
    font-size: 2rem;
    text-align: start;
    color: #fff;
  }
}
